/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require normalize
 *= require boilerplate
 *= require_self
 *= require_tree ./application
 */

@import 'font-awesome'

body
  margin: 0px
  padding: 0px
  font-family: 'Halvetica', sans-serif
  min-width: 820px
  //background-image: url('/assets/green4.png')

h1,h2,h3,h4,h5,h6
  margin: 0px

.right
  float: right

.left
  float: left

.center
  text-align: center
  
p
  margin: 0px

