//= require jquery.ui.core
//= require jquery.ui.theme
//= require_self
//= require_tree ./posts

@import 'font-awesome'

.comment

.comment_actions
  display: block

.replays
  margin-left: 20px
  
#post_preview
  display: block
  min-heigth: 100px
  
#post_preview, #post_editor
  margin: 20px
  
